<!-- show google map -->
<agm-map [fitBounds]="true" [latitude]="center.lat" [longitude]="center.lng"
  (mapClick)="_clickMap($event.coords.lat, $event.coords.lng)">

  <!-- show place markers -->
  <agm-marker *ngFor="let place of places" [latitude]="place.lat" [longitude]="place.lng" [agmFitBounds]="true"
    [markerDraggable]="true">
    <!-- (markerClick)="onClickMarker($event)" -->
    <agm-info-window>
      <div class="map-info-name">Börk</div>
      <a href="#" (click)="_clickRemove(place)">Remove from itinerary</a>
    </agm-info-window>
  </agm-marker>

  <!-- show current place marker, if any -->
  <ng-container *ngIf="currentPlace">
    <agm-marker [latitude]="currentPlace.lat" [longitude]="currentPlace.lng" [agmFitBounds]="true"
      (markerClick)="handleClickCurrentPlace($event)" [markerDraggable]="true">
      <agm-info-window>
        <div class="map-info-name">(current place)</div>
        <!-- <a href="#" (click)="handleClickAdd($event)">Add to itinerary</a> -->
      </agm-info-window>
    </agm-marker>
  </ng-container>

  <!-- show colored lines between place markers -->
  <!-- need to make a separate polyline between each pair of places to have different colors between them -->
  <agm-polyline *ngFor="let place of places;let i = index;" [strokeOpacity]="0.5" [strokeWeight]="8"
    [strokeColor]="colors[i]">
    <agm-polyline-point [latitude]="place.lat" [longitude]="place.lng">
    </agm-polyline-point>
    <ng-container *ngIf="places[i+1]">
      <agm-polyline-point [latitude]="places[i+1].lat" [longitude]="places[i+1].lng">
      </agm-polyline-point>
    </ng-container>
  </agm-polyline>

</agm-map>