@import "../../variables.scss"; // for $sidebar-width

agm-map {
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: $sidebar-width;
  right: 0;
}

.map-info-name {
  font-weight: bold;
}
