// @import "~variables.scss";
@import "../../styles-variables.scss";

.itinerary {
  font-size: 0.8em;
  padding: 0.5em;
  width: $sidebar-width;
}
.itinerary-title {
  font-weight: bold;
  margin-bottom: 0;
}
.itinerary-list {
  font-size: 0.9em;
  color: #555;
}
.itinerary-delete {
  float: right;
}
