<div class="itinerary">
  <div class="itinerary-title well well-sm">
    Itinerary
  </div>
  <div class="itinerary-list list-group">
    <a href="#" class="list-group-item" *ngFor="let place of places; let i = index;">
      {{place.name}}
      <a href="#" (click)="onClickMe(i)" class="itinerary-delete">x</a>
    </a>
  </div>
  <!-- <div class="itinerary-add">
    <a href="#">
      Add Place
    </a>
  </div> -->
  <button type="button" class="btn btn-primary btn-block btn-lg">Add Place</button>
</div>