@import "../../styles-variables.scss";

.itinerary {
  font-size: 0.8em;
  padding: 0.5em;
  width: $sidebar-width;
}
.itinerary-title {
  font-weight: bold;
  margin-bottom: 0;
}
.itinerary-list {
  font-size: 0.8em;
  color: #555;
}
.itinerary-delete {
  float: right;
}

// animate items as they're being sorted
.cdk-drop-list-dragging .cdk-drag {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
