/* You can add global styles to this file, and also import other style files */


// App

html, body {
  font-size: 1rem;
}

.loading {
}

.navbar-inverse {
  background-color: #000;
}

.row {
  height: 100%;
}
