/* You can add global styles to this file, and also import other style files */


// App

html, body {
  font-size: 1rem;
}

.loading {
}

.navbar-inverse {
  background-color: #000;
}

.row {
  height: 100%;
}

// need this so autocomplete input won't be blocked by bootstrap navbar
// https://stackoverflow.com/questions/45854521/google-maps-places-autocomplete-with-a-modal-in-jhipster
.pac-container {
  z-index: 1054 !important;
}

